services:
  api:
    build: .
    command: uvicorn birbal.main:app --host 0.0.0.0 --port ${PORT}
    ports:
      - "${PORT}:${PORT}"
    env_file:
      - .env
    environment:
      APP_PORT: ${PORT}
      OLLAMA_HOST: "http://host.docker.internal:11434"
    volumes:
      - .:/app
      - /app/.venv
      - ${FILE_DIR}:${FILE_DIR}:ro
    depends_on:
      - db

  db:
    image: pgvector/pgvector:pg16
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
